* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #444;
}

.mb-15 {
  margin-bottom: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
